<div class="container">
    <mat-toolbar>
        <div class="example-spacer"></div>        
        <button mat-raised-button color="warn" routerLink="/">
          <span class="material-icons">print</span>&nbsp;Imprimir</button><br>
        <button mat-raised-button color="primary" routerLink="/dashboard/contractos/crear-indicaciones-contrato">
          <span class="material-icons">article</span>&nbsp;Agregar</button><br>
    </mat-toolbar>
    <div *ngIf="LIST_CONTRACT_INDICATIONS.length > 0">
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Palabra Clave" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <!-- contrato Column -->
              <ng-container matColumnDef="contrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contrato </th>
                <td mat-cell *matCellDef="let element"> {{element.contrato}} </td>
              </ng-container>
              <ng-container matColumnDef="arrendatario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrendatario </th>
                <td mat-cell *matCellDef="let element"> {{element.arrendatario}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="deudorSolidario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Deudor(es) </th>
                <td mat-cell *matCellDef="let element"> {{element.deudorSolidario}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="addressInmueble">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion Inmueble </th>
                <td mat-cell *matCellDef="let element"> {{element.addressInmueble}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let element"> 
                  <button type="button" class="button-form" mat-raised-button color="{{ element.isActive ? 'primary':'warn'}}" matTooltip="Activar / Desactivar Contrato" (click)="isActive(element.id)">{{(element.isActive)? 'Activo': 'Inactivo'}}</button> 
                </td>
              </ng-container>
              
              <!-- Symbol Column -->
              <ng-container matColumnDef="options">
                  <th mat-header-cell *matHeaderCellDef>Opciones</th>
                  <td mat-cell *matCellDef="let element"> 
                    <a class="pointer" style="color: #187159" matTooltip="Ver Contrato">
                      <mat-icon>search</mat-icon>
                    </a>
                    <a class="pointer" style="color: #1f516f" matTooltip="Editar Contrato">
                      <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer" style="color: #e15639" matTooltip="Eliminar Contrato">
                      <mat-icon>delete</mat-icon>
                    </a>
                    <a class="pointer" style="color: #1b552f" matTooltip="Lista de Chequeo">
                      <mat-icon>fact_check</mat-icon>
                    </a>
                  </td>
                </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
          </table>      
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of contracts"></mat-paginator>
      </div>
    </div>
    <h2 *ngIf="LIST_CONTRACT_INDICATIONS.length == 0" style="margin: auto;">Cargando usuarios para mostrar</h2>
</div>  