<div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="space-around center" >
    <form class="example-form" [formGroup]="frmContractActors" (ngSubmit)="onCreateContractActors()">
        <ng-container>
            <table  class="example-full-width" cellspacing="0"><tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Escoga el rol de la Persona</mat-label>
                        <mat-select id="selectedValueTypeActor" formControlName="selectedValueTypeActor">
                        <mat-option value="arrendatario">Arrendatario</mat-option>
                        <mat-option value="deudor">Deudor</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button color="primary" (click)="onCreateContractActors()"><mat-icon>assignment_ind</mat-icon> Crear</button>
                </td>
            </tr></table>
        </ng-container>
    
        <mat-accordion formControlName="actors">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Arrendatario
                </mat-panel-title>
                <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
                </mat-expansion-panel-header>
                    <ng-container *ngFor="let actor of actors; let i=index;">
                        <shared-actors></shared-actors>
                    </ng-container>
            </mat-expansion-panel>
        </mat-accordion> 
    </form>             
</div>
<pre>
    {{ frmContractActors.value | json }}
</pre>
<pre>
    {{ frmContractActors.status}}
</pre>
