
    <ng-template matStepLabel>Convenio</ng-template>
    <div class="container">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td><mat-slide-toggle class="example-margin" checked="true" color="primary" (change)="setTotalDivisionValue()">Division de Renta</mat-slide-toggle></td>
          <td>
            <span>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="-" (click)="setArrendatario('-')"><span class="material-icons">
                  remove
                  </span></mat-button-toggle>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Tipo de Persona</mat-label>
                      <mat-select [(value)]="selectedValueTypePerson" formControlName="typePerson" (selectionChange)="setTypePersonJuridica($event.value)" >
                        <mat-option value="Propietario">Propietario</mat-option>
                        <mat-option value="Usuafructuario">Usuafructuario</mat-option>
                        <mat-option value="Comodatario">Comodatario</mat-option>
                        <mat-option value="Apoderado">Apoderado</mat-option>
                      </mat-select>
                    </mat-form-field>
                <mat-button-toggle value="+" (click)="setArrendatario('+')"><span class="material-icons">
                  add
                  </span></mat-button-toggle>
              </mat-button-toggle-group>
            </span>
          </td>
        </tr>
      </table>
      <div class="container">
        <h2 class="title-form">Informacion de </h2>
        <mat-divider style="margin-bottom: 10px;"></mat-divider>
        <mat-accordion class="example-headers-align" *ngFor="let item of fieldArrendatario">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos Personales
              </mat-panel-title>
              <mat-panel-description>
                Type your name and age
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput type="number" min="1">
            </mat-form-field>
            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
        
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos del convenio
              </mat-panel-title>
              <mat-panel-description>
                Type the country name
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <input matInput>
            </mat-form-field>
        
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
        
          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos Bancarios
              </mat-panel-title>
              <mat-panel-description>
                Inform the date you wish to travel
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>
        
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row>
          </mat-expansion-panel>
        
        </mat-accordion>
        
      </div>
    </div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Amparo del Contrato</ng-template>
      <table class="example-full-width" cellspacing="0" ><tr>            
        <td><mat-slide-toggle class="example-margin" color="primary" (change)="setEsAmparado($event)">Garantizado</mat-slide-toggle></td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0" *ngIf="esAmparado"><tr>
        <td><mat-slide-toggle class="example-margin" color="primary" [checked]="esAmparado">Amparo Basico</mat-slide-toggle></td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Valor Amparo Basico</mat-label>
            <span matPrefix>$&nbsp;</span>
            <input matInput type="number" class="example-right-align" placeholder="0">
          </mat-form-field>
        </td>
        <td><mat-slide-toggle class="example-margin" color="primary" (change)="setValorIntegral($event)">Amparo Integral</mat-slide-toggle></td>
        <td *ngIf="esValorIntegral">
          <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Valor Amparo Integral</mat-label>
            <span matPrefix>$&nbsp;</span>
            <input matInput type="number" class="example-right-align" placeholder="0">
          </mat-form-field>
        </td>
        </tr>
      </table>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Información Comercial</ng-template>
      <table class="example-full-width" cellspacing="0"><tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Comisión</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0">
            <span matPrefix>%&nbsp;</span>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Mercadeo</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0">
            <span matPrefix>%&nbsp;</span>
          </mat-form-field>
        </td>
        <td><mat-slide-toggle class="example-margin" color="primary">Pago por Consignación</mat-slide-toggle></td>
      </tr>
      </table>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button type="submit">Crear y Guardar</button>
  </mat-step>