<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Informacion General del Contrato
        </mat-panel-title>
        <mat-panel-description>
          Registre aqui los datos generales del contrato
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--Formulario para componente-->
      <form class="example-form">
        <table class="example-full-width" cellspacing="0"><tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>No de Contrato</mat-label>
                    <input matInput disabled value="Contrato No 256498">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>No Asegurable</mat-label>
                    <input matInput disabled value="123456">
                </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Cod Domus</mat-label>
                  <input matInput disabled value="2345">
              </mat-form-field>
          </td>
        </tr></table>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Arrendatario</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Dni Arrendatario</mat-label>
            <input matInput>
          </mat-form-field></td>
        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Direccion Inmueble</mat-label>
              <input matInput placeholder="Cll # Cra # Tranversal #">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>No Garaje/Cuarto Util</mat-label>
              <mat-select [(value)]="selectedValueGarage" name="garage">
                <mat-option *ngFor="let item of garage" [value]="item.value">
                  {{item.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Canon Arriendo</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Valor Administracion</mat-label>
            <input matInput>
          </mat-form-field></td>
          <td><mat-slide-toggle class="example-margin" color="primary">Valor Administracion</mat-slide-toggle></td>
        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Tipo de Contrato</mat-label>
              <mat-select [(value)]="selectedValueGarage" name="garage">
                <mat-option *ngFor="let item of garage" [value]="item.value">
                  {{item.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Verbose datepicker</mat-label>
              <input matInput [matDatepicker]="dp" [value]="date">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>                        
          </td>
          <td><mat-slide-toggle class="example-margin" color="primary">Valor Administracion</mat-slide-toggle></td>
        </tr></table>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
          Convenio del Contrato
        </mat-panel-title>
        <mat-panel-description>
          Configure el convenio y sus condiciones {{panelOpenState ? 'abierto' : '- Cerrado por proceso incompleto'}}
        </mat-panel-description>
        <mat-icon>map</mat-icon>
      </mat-expansion-panel-header>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form>
      
    </mat-expansion-panel>
</mat-accordion>
  