<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Del Arrendatario
        </mat-panel-title>
        <mat-panel-description>
          <mat-card>
            <mat-card-content>          
              <section class="example-section">
                <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="value"
                    [bufferValue]="bufferValue">
                </mat-progress-bar>
              </section>
            </mat-card-content>
          </mat-card>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-list>
            <mat-selection-list #checkList [multiple]="false">
                <mat-list-option *ngFor="let item of checksList" [value]="item.id">
                    {{item.name}}
                </mat-list-option>
            </mat-selection-list>    
            <p>
                Option selected: {{checkList.selectedOptions.selected[0]?.value}}
            </p>
        </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  