<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)=ingresar()>
            <img class="img" src="./assets/images/profile.png" alt="">
            <h1>Login</h1>
            <mat-form-field class="width-form" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="width-form" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off" formControlName="password" type="password">
            </mat-form-field><br>
            <button type="submit" class="button-form" mat-raised-button color="primary" [disabled]="form.invalid">Iniciar</button>
        </form>
    </div>
</div>