<mat-card-title>prueba {{ actorTitle }}</mat-card-title>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{ lblNameActor }}</mat-label>
    <input matInput value="" name="txtNamesActor" formControlName="txtNamesActor">
</mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{ lblDniActor }}</mat-label>
    <input matInput name="txtDniActor" formControlName="txtDniActor">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
<mat-label>{{ lblEmailActor}}</mat-label>
    <input matInput name="txtEmailActor" formControlName="txtEmailActor">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{ lblAddressActor }}</mat-label>
    <input matInput name="txtAddressActor" formControlName="txtAddressActor">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{ lblPhoneActor }}</mat-label>
    <input matInput name="txtPhoneActor" formControlName="txtPhoneActor">
</mat-form-field>
<button mat-button mat-stroked-button color="warn">Limpiar</button>
<button mat-button mat-stroked-button color="primary" (click)="onSendActor()">Guardar Representante</button>